<!-- Magnific Popup core CSS file -->
<link rel="stylesheet" href="magnific-popup.css">

<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="jquery.js"></script>

<!-- Magnific Popup core JS file -->
<script src="jquery.magnific-popup.min.js"></script>

<a class="test-popup-link" href="magnific-og-400x400.jpg">Open popup</a>
<script>
$('.test-popup-link').magnificPopup({
  type: 'image'
  // other options
});
</script>
<hr/>
<div class="parent-container">
  <a href="magnific-og-400x400.jpg">Open popup 1</a>
  <a href="magnific-og-400x400.jpg">Open popup 2</a>
  <a href="magnific-og-400x400.jpg">Open popup 3</a>
</div>
<script>
$('.parent-container').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image'
  // other options
});
</script>
<hr/>
<a id="some-button1">Some Button 1</a>
<a id="some-button2">Some Button 2</a>
<script>
// Example with single object
$('#some-button1').magnificPopup({
    items: {
      src: 'magnific-og-400x400.jpg'
    },
    type: 'image' // this is default type
});

// Example with multiple objects
$('#some-button2').magnificPopup({
    items: [
      {
        src: 'magnific-og-400x400.jpg'
      },
      {
        src: 'http://vimeo.com/123123',
        type: 'iframe' // this overrides default type
      },
      {
        src: $('<div>Dynamically created element</div>'), // Dynamically created element
        type: 'inline'
      },
      {
        src: '<div>HTML string</div>',
        type: 'inline'
      },
      {
        src: '#my-popup', // CSS selector of an element on page that should be used as a popup
        type: 'inline'
      }
    ],
    gallery: {
      enabled: true
    },
    type: 'image' // this is default type
});	

</script>

<div id="my-popup" style="display: none;">
	fd2d23d23

</div>